#product_form {
  margin: 45px;
}

.btn {
  margin: 20px;
}

.nav-tabs {
  margin-bottom: 18px;
}

ul {
  margin-right: 100px;
}

#things {
  margin-left: -35px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
